.App{
  background-color:rgb(127, 255, 155);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textocalculadora{
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
}




